<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <section name="ServiceNameList" type="System.Configuration.NameValueSectionHandler" />
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <add key="ServiceAssembly" value="PolicyProjectManagementService.dll" />
        <add key="ServiceIp" value="http://localhost:8732" />
    </appSettings>
    <ServiceNameList>
        <add key="UserService" value="PolicyProjectManagementService.UserService" />
        <add key="PolicySetService" value="PolicyProjectManagementService.PolicySetService" />
        <add key="PolicyService" value="PolicyProjectManagementService.PolicyService" />
        <add key="LoginService" value="PolicyProjectManagementService.LoginService" />
        <add key="LoginDevicesService" value="PolicyProjectManagementService.LoginDevicesService" />
        <add key="GroupService" value="PolicyProjectManagementService.GroupService" />
        <add key="EventLogService" value="PolicyProjectManagementService.EventLogService" />
        <add key="EventService" value="PolicyProjectManagementService.EventService" />
        <add key="DeviceService" value="PolicyProjectManagementService.DeviceService" />
        <add key="PlatformService" value="PolicyProjectManagementService.PlatformService" />
    </ServiceNameList>
</configuration>