<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- soap 1.2 web service
  <system.serviceModel>
    <services>
      <service name="PolicyProjectManagementService.Event.EventService">
        <endpoint address="" binding="wsHttpBinding" contract="PolicyProjectManagementService.Event.IEventService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/PolicyProjectManagementService/Event/"/>
          </baseAddresses>
        </host>
      </service>
      <service name="PolicyProjectManagementService.User.UserService">
        <endpoint address="" binding="basicHttpBinding" contract="PolicyProjectManagementService.User.IUserService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/PolicyProjectManagementService/User/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="2147483647" >
          <readerQuotas maxArrayLength="2147483647" maxDepth="32" maxStringContentLength="2147483647"
					 maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"  />
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  
  
  <system.serviceModel>
    <services>  
      <service name="PolicyProjectManagementService.User.UserService" behaviorConfiguration="ServiceBehaviour">
        <endpoint address="http://localhost:8732/PolicyProjectManagementService/User/" name="webHttpBinding" binding="webHttpBinding" 
                  contract="PolicyProjectManagementService.User.IUserService" behaviorConfiguration="webHttp">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8732/PolicyProjectManagementService/User/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  
      <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          
          <serviceMetadata httpGetEnabled="true"/>
          
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>   -->
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="PolicyProjectEntities" connectionString="metadata=res://*/PolicyProjectModel.csdl|res://*/PolicyProjectModel.ssdl|res://*/PolicyProjectModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=PolicyProject;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>