<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <section name="ServiceNameList" type="System.Configuration.NameValueSectionHandler" />
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <add key="ServiceAssembly" value="PolicyProjectManagementService.dll" />
        <add key="ServiceIp" value="http://192.168.1.101:8732" />
    </appSettings>
    <ServiceNameList>
        <add key="UserService" value="PolicyProjectManagementService.UserService" />
        <add key="PolicySetService" value="PolicyProjectManagementService.PolicySetService" />
        <add key="PolicyService" value="PolicyProjectManagementService.PolicyService" />
        <add key="LoginService" value="PolicyProjectManagementService.LoginService" />
        <add key="LoginDevicesService" value="PolicyProjectManagementService.LoginDevicesService" />
        <add key="GroupService" value="PolicyProjectManagementService.GroupService" />
        <add key="EventLogService" value="PolicyProjectManagementService.EventLogService" />
        <add key="EventService" value="PolicyProjectManagementService.EventService" />
        <add key="DeviceService" value="PolicyProjectManagementService.DeviceService" />
        <add key="PlatformService" value="PolicyProjectManagementService.PlatformService" />
    </ServiceNameList>
    <system.serviceModel>
        <bindings>
            <webHttpBinding>
                <binding name="WebHttpBinding_PolicyProjectManagementService" maxBufferSize="2147483647"
                         maxReceivedMessageSize="2147483647">
                    <readerQuotas maxArrayLength="2147483647" maxDepth="32" maxStringContentLength="2147483647"
                                  maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                </binding>
            </webHttpBinding>
        </bindings>

        <behaviors>
            <endpointBehaviors>
                <behavior name="webHttp">
                    <webHttp />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    </system.serviceModel>

    <connectionStrings>
        <add name="PolicyProjectEntities" 
        connectionString="metadata=res://*/PolicyProjectModel.csdl|res://*/PolicyProjectModel.ssdl|res://*/PolicyProjectModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=PolicyProject;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
        providerName="System.Data.EntityClient" />
         <!--<add name="PolicyProjectEntities"
             connectionString="metadata=res://*/PolicyProjectModel.csdl|res://*/PolicyProjectModel.ssdl|res://*/PolicyProjectModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=PolicyProject;UID=sa;pwd=123321;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
             providerName="System.Data.EntityClient" />-->                                                                                                                                                                                                                                                                                
    </connectionStrings>                                                                                                                                                                                                                                                                                                               

</configuration>